:root {
    --primary-color: #109648;
    --secondary-color: #18A999;
    --dark-color: #484349;
    --font-small: 1rem;
    --font-medium: 1.5rem;
    --font-large: 2.5rem;
}

html {
    padding:0px;
}

body {
    margin: 0px;
}

.hidden {
    display: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 30%);
    gap: 1rem;
    justify-content: center;
}

/* .card {
    display: flex;
    align-items:center;
    justify-content:center;
    border: 1px solid gray;
    border-radius: 1rem;
    background-color: var(--primary-color);
    color:white;
    height: 200px;
} */

/* .card:hover {
    background-color: var(--secondary-color);
} */

.pointer {
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 0.5rem 0rem;
    margin-bottom: 2rem;
}

.menu .container {
    padding: .3rem;
    border: 0.2rem solid white;
    border-radius: 50%;
}

.menu .logo {
    height: 1.5rem;
    width: 1.5rem;
}

.category-title {
    border-bottom: 1px solid gray;
    text-align: center;
    font-size: var(--font-large);
}

.category-list {
    font-size: var(--font-medium);
    list-style: none;
    padding: 0;
}

.category-list li:hover {
    background-color: lightgray;
    cursor: pointer;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}

.title {
    font-size: var(--font-large);
}

.page-padding {
    padding: 0 2rem;
}

.page-camera .card {
    border: 1px solid gray;
    border-radius: 10px;
    min-width: 300px;
    width: 40%;
    text-align: center;
    height: 80vh;
}

.btn-primary {
    background-color: var(--primary-color);
    border-radius: 10px;
    color: white;
    padding: 1rem;
    font-size: var(--font-small);
    border: 0;
    cursor: pointer;
}
